body {
    background-color: #9cdce4;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #5ca47c;
    padding: 30px;
    border-radius: 10px;
}